/* Testimonials Page Container */
.servicesPage {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 85vh; /* Ensure the page covers the entire viewport height */
    padding: 0 20px; /* Optional padding */
}

/* Navigation Bar */
.nav {
    background-color: white; 
    padding: 20px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.navList li {
    margin: 0;
}

.navButton {
    background: none;
    border: solid 1px var(--color-primary-brown);
    border-radius: 12px;
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--primary-dark-green);
    transition: background-color 0.3s, color 0.3s;
}

.navButton:hover {
    background-color: var(--color-primary-brown);
    color: white;
    border-color: var(--color-primary-brown);
}

/* Section Styles */

.serviceSection {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.serviceContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.serviceImage {
    min-width: 25%; /* Adjust as needed */
    height: auto;
    border-radius: 8px;
}


.serviceSection h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-dark-green);
    border-bottom: 2px solid var(--color-primary-brown);
    padding-bottom: 10px;
}

.serviceSection p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 90ch;
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {

    /* Navigation Bar */
    .nav {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
    }


    .navButton {
        font-size: 12px;
        padding: 8px 12px;
        width: 100%;
        text-align: left;
    }

    /* Section Styles */
    .serviceSection {
        padding: 30px 20px;
    }

    .serviceContent {
        flex-direction: column;
        gap: 15px;
    }

    .serviceImage {
        max-width: 300px;
        width: 100%; /* Ensure it fills the container */
        height: auto;
        border-radius: 8px;
    }

    .serviceSection h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .serviceSection p {
        font-size: 1rem;
        line-height: 1.5;
        max-width: 100%;
    }

    /* Adjust spacing for smaller screens */
    .serviceSection {
        margin-bottom: 15px;
    }
}

